*{
    margin:0px;
    padding: 0px;
    font-family: sans-serif;
}

header{
    background-color: white;
    height: 90px;
}

ul {
    float: right;
    margin-top: 35px;
}
ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: rgb(41, 39, 39);
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    transition: 0.6s;
    margin: 15px;
    font-size: 20px;
}

ul li a:hover{
    background-color: rgb(217, 212, 228);
}

img{
    height: 150px;
    width: 150px;
    padding: 0px 15px;
    margin-top: -30px;
}

.navbar li span{
    color: rgb(138, 104, 201);
    font-weight: bold;
}

.fa-search{
    padding-left: 170px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border: 2px solid rgb(231, 229, 235) ;
    border-radius: 30px;
}

.fa-bars {
    padding-right: 30px;
    padding-left: 30px;
}

body{
    background-color:  rgb(138, 104, 201);
}